# Git
.git
.gitignore

# Python Caches and Virtual Environments
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE / Editor specific
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/

# Other
.pytest_cache/
*.log